body {
  background-color: #1a1a1a; /* Darker gray for edges */
  color: #e0e0e0; /* Light gray text */
  font-family: "Gill Sans Extrabold", sans-serif;
  line-height: 1.6;
}

.wrapper {
  background-color: #1a1a1a; 
  padding: 15px;
  border-radius: 8px;
}

header, footer {
  position: relative;
    background: linear-gradient(90deg, 
      rgba(0,139,255,0) 0%,
      rgba(0,139,255,0.1) 5%,
      rgba(0,139,255,0.2) 10%,
      rgba(0,139,255,0.3) 15%,
      rgba(0,139,255,0.5) 20%,
      rgba(0,139,255,0.6) 25%,
      rgba(136,0,255,0.85) 45%, 
      rgba(255,209,0,0.85) 70%);
  padding: 5px 10px;
  border-radius: 8px;
  color: white; /* Adjust text color if necessary */
}

header img {
  max-width: 115px; /* Adjust the max width */
  height: auto; /* Maintain aspect ratio */
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 0px
  align-items: center;
}

header h1, footer p {
  color: #e0e0e0;
}

nav {
  display: inline-block; /* Keep navigation on the same line as the logo */
  margin-left: 10px; /* Space between logo and navigation */
}

/* Navigation Styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px; /* Spacing between navigation items */
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  padding-bottom: 0px
}

nav ul li {
  margin-right: 0px; /* Space between links */
}

.view {
  margin-top: 5px; /* Space between navigation and the link */
  text-align: left; /* Align the link text */
  padding-bottom: 0px;
  padding-top: 0px;
}

.view a {
  color: #d1d1d1; /* Link color */
  text-decoration: none;
  font-size: 1.1em; /* Increase the font size */
  padding: 0px 0px; /* Add padding around the links */
  display: inline-block;
  font-weight: bold;
}

.view a:hover {
  text-decoration: none;
  color: #FFD229; /* Change color on hover */
}

.download-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: #262626;
    color: #e0e0e0; 
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease;;
}

.download-button:hover {
    color: #262626; 
    background: linear-gradient(60deg, rgba(255,210,41,1) 0%, rgba(255,180,18,1) 81%);
    border: 2px solid #262626;
}

nav ul li a {
  color: #d1d1d1; /* Link color */
  text-decoration: none;
  font-size: 1.2em; /* Increase the font size */
  padding: 5px 0px; /* Add padding around the links */
  display: inline-block;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
  color: #FFD229; /* Change color on hover */
}

a {
  padding: 0px 0px;
  text-decoration: none;
  color: #57b4ff;
  font-weight: bold;/* Link color */
  transition: color 0.3s ease, background-color 0.3s ease;    
}

a:hover {
  text-decoration: none;
  color: #FFD229; /* Maintain the link color on hover */
}

/* Custom Styles */
h1 {
  background: linear-gradient(90deg, rgba(0,139,255,1) 0%, rgba(136,0,255,1) 35%, rgba(255,209,0,1) 85%); 
  -webkit-background-clip: text; /* For Chrome, Safari, and Edge */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Hide the original text color */
  font-size: 5em; /* Adjust size as needed */
  background-size: 100%; /* Ensures the gradient covers the entire text */
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  padding: 0;
  margin: 0;
}

h2 {
  color: #FFD229; /* Color for h2 */
}

h3 {
  color: #FFD229; /* Color for h3 */
  font-size: 3em;
}

img {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

section {
  margin: 20px 0;
}

pre {
  font-size: 18px;
  background-color: #212121; /* Darker background for code blocks */
  color: #e0e0e0; /* Light gray text */
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

